* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background: rgb(255, 255, 255);
    background: linear-gradient(
        90deg,
        rgba(255, 255, 255, 1) 0%,
        rgba(128, 127, 127, 1) 100%
    );
}

.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2.5rem;
}

.book {
    background: rgb(176,175,175);
    background: linear-gradient(90deg, rgba(176,175,175,1) 83%, rgba(205,205,205,1) 100%);
    width: 64px;
    height: 72px;
    border-radius: 2px 8px 8px 2px;
    -webkit-box-shadow: 2px 2px 4px 3px rgba(0,0,0,0.25); 
    box-shadow: 2px 2px 4px 3px rgba(0,0,0,0.25);
    transition: transform 0.2s ease-in-out;
    transform-style: preserve-3d;
    cursor: pointer;
    perspective: 64px;
}

.book:hover {
    transform: translateY(-8px);
}

.front{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    transform-origin: left center;
    background: rgb(205,205,205);
    background: linear-gradient(90deg, rgba(205,205,205,1) 0%, rgba(225,225,225,1) 3%, rgba(229,229,229,1) 10%, rgba(233,233,233,1) 12%, rgba(176,175,175,1) 14%, rgba(225,225,225,1) 15%, rgba(234,234,234,1) 97%, rgba(237,237,237,1) 100%);
    border-radius: 2px 8px 8px 2px;
    border-top: 1px solid;
    border-bottom: 1px solid;
    border-top-color: #fafafa;
    border-bottom-color: #b4b4b4;
    transition: all 0.3s cubic-bezier(0,0,1,1);
    perspective: 100px;
}

.front:hover{
    transition: all 0.3s cubic-bezier(0,0,1,1);
    transform: rotateY(-10deg);
    width: 83%;
}

.hole{    
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #cdcdcd;
    -webkit-box-shadow: inset 0px 0px 2px 2px rgba(0,0,0,0.5); 
    box-shadow: inset 0px 0px 2px 2px rgba(0,0,0,0.5);
    margin-left: 5px;
    transition: all 0.3s cubic-bezier(0,0,1,1);
}

.front:hover .hole{
    transition: all 0.3s cubic-bezier(0,0,1,1);
    transform: rotateY(35deg);
    width: 65%;
}

.book2{
    display: flex;
    align-items: center;
    cursor: pointer;
    perspective: 1000px;
}

.book2:hover .cover{
    transform: rotateX(30deg) rotateY(-180deg);
}

.book2:hover .page{
    transform: rotateX(30deg) rotateY(-180deg);
    z-index: 2;
}

.cover{
    z-index: 1;
    transition: all 3s;
}

.back-cover{
    z-index: -2;
}

.cover,
.back-cover {
    height: 72px;
    width: 64px;
    background-color: #353755;
    border-radius: 2px 8px 8px 2px;
    position: absolute;
    box-shadow: 1px 1px 5px gray;
    transform: rotateX(30deg);
    transform-origin: center left;
}

.page,
.last-page{
    height: 65px;
    width: 60px;
    background-color: white;
    position: absolute;
    border-radius: 2px 8px 8px 2px;
    transform: rotateX(30deg);
    z-index: -1;
    transform-origin: center left;
}

.last-page h2{
    font-size: 10px;
    text-align: center;
    top: 50%;
    position: relative;
    transform: translateY(-50%);
}

.page:nth-child(2){
    transition-duration: 3s;
}
.page:nth-child(3){
    transition-duration: 2.6s;
}
.page:nth-child(4){
    transition-duration: 2.2s;
}
.page:nth-child(5){
    transition-duration: 1.8s;
}
.page:nth-child(6){
    transition-duration: 1.4s;
}

.book2:hover .page:nth-child(2){
    transition-duration: 6s;
}
.book2:hover .page:nth-child(3){
    transition-duration: 5.6s;
}
.book2:hover .page:nth-child(4){
    transition-duration: 5.2s;
}
.book2:hover .page:nth-child(5){
    transition-duration: 4.8s;
}
.book2:hover .page:nth-child(6){
    transition-duration: 4.4s;
}