@keyframes football{
    0% {
        transform: rotate(calc(-1 * var(--football-rotate)));
    }
    5% {
        transform: rotate(var(--football-rotate));
    }
    10%{
        transform: rotate(calc(-1 * var(--football-rotate)));
    }
    15%{
        transform: rotate(var(--football-rotate));
    }
    20%{
        transform: rotate(calc(-1 * var(--football-rotate)));
    }
    25%{
        transform: rotate(var(--football-rotate));
    }
    35%{
        transform: rotate(calc(-1 * var(--football-rotate)));
    }
}

@keyframes header-slide-bottom-to-top{    
    10% {
        transform: translate(-50%, 20px);
    }
    100%{
        transform: translate(-50%, -50vh);
    }
}

@keyframes header-slide-top-to-bottom{
    0% {
        transform: translate(-50%, -50vh);
    }
    60%{
        transform: translate(-50%, 20px);
    }
    70%{
        transform: translate(-50%);
        
    }
}

@keyframes dissapear{
    100%{
        opacity: 0;
        visibility: hidden;
        display: none;
    }
}

@keyframes appear{
    100%{
        opacity: 1;
        visibility: visible;
        display: block;
    }
}

.header-slide-bottom-to-top {
    animation: header-slide-bottom-to-top 1s ease-in-out 0s 1 normal forwards;
}

.header-slide-top-to-bottom {
    animation: header-slide-top-to-bottom 1s ease-in-out 0s 1 normal forwards;
}

.appear{
    animation: appear 1s ease-in-out 0s 1 normal forwards; 
}

.dissapear{
    animation: dissapear 1s ease-in-out 0s 1 normal forwards; 
}