@keyframes football{
    0% {
        transform: rotate(calc(-1 * var(--football-rotate)));
    }
    5% {
        transform: rotate(var(--football-rotate));
    }
    10%{
        transform: rotate(calc(-1 * var(--football-rotate)));
    }
    15%{
        transform: rotate(var(--football-rotate));
    }
    20%{
        transform: rotate(calc(-1 * var(--football-rotate)));
    }
    25%{
        transform: rotate(var(--football-rotate));
    }
    35%{
        transform: rotate(calc(-1 * var(--football-rotate)));
    }
}

@keyframes header-slide-bottom-to-top{    
    10% {
        transform: translate(-50%, 20px);
    }
    100%{
        transform: translate(-50%, -50vh);
    }
}

@keyframes header-slide-top-to-bottom{
    0% {
        transform: translate(-50%, -50vh);
    }
    80%{
        transform: translate(-50%, 20px);
    }
    100%{
        transform: translate(-50%);        
    }
}

@keyframes dissapear{
    100%{
        opacity: 0;
        visibility: hidden;
        display: none;
    }
}

@keyframes appear{
    0%{
        opacity: 0;
        visibility: hidden;
    }
    100%{
        opacity: 1;
        visibility: visible;
    }
}

@keyframes left-side-dissapear{
    100%{
        transform: translateX(-50vw);
    }
}

@keyframes left-side-appear{
    0%{
        transform: translateX(-50vw);
    }
    100%{
        transform: translateX(0vw);
    }
}

@keyframes right-side-dissapear{
    100%{
        transform: translateX(50vw);
    }
}

@keyframes right-side-appear{
    0%{
        transform: translateX(50vw);
    }
    100%{
        transform: translateX(0vw);
    }
}

@keyframes top-side-dissapear{
    100%{
        transform: translateY(-50vh);
    }
}

@keyframes top-side-appear{
    0%{
        transform: translateY(-50vh);
    }
    100%{
        transform: translateY(0vh);
    }
}

@keyframes bottom-side-dissapear{
    100%{
        transform: translateY(50vh);
    }
}

@keyframes bottom-side-appear{
    0%{
        transform: translateY(50vh);
    }
    100%{
        transform: translateY(0vh);
    }
}

.header-slide-bottom-to-top {
    animation: header-slide-bottom-to-top 1s ease-in-out 0s 1 normal forwards;
}

.header-slide-top-to-bottom {
    animation: header-slide-top-to-bottom 1s ease-in-out 0s 1 normal forwards;
}

.appear{
    animation: appear 1s ease-in-out 0s 1 normal forwards; 
}

.dissapear{
    animation: dissapear 1s ease-in-out 0s 1 normal forwards; 
}

.left-side-dissapear{
    animation: left-side-dissapear 1s ease-in-out 0s 1 normal forwards; 
}

.left-side-appear{
    animation: left-side-appear 1s ease-in-out 0s 1 normal forwards; 
}

.right-side-dissapear{
    animation: right-side-dissapear 1s ease-in-out 0s 1 normal forwards; 
}

.right-side-appear{
    animation: right-side-appear 1s ease-in-out 0s 1 normal forwards; 
}

@media (max-width: 576px) {
    .left-side-dissapear{
        animation: top-side-dissapear 1s ease-in-out 0s 1 normal forwards; 
    }
    
    .left-side-appear{
        animation: top-side-appear 1s ease-in-out 0s 1 normal forwards; 
    }
    
    .right-side-dissapear{
        animation: bottom-side-dissapear 1s ease-in-out 0s 1 normal forwards; 
    }
    
    .right-side-appear{
        animation: bottom-side-appear 1s ease-in-out 0s 1 normal forwards; 
    }
}

.section-dissapear {
    animation: dissapear 0s ease-in-out 1s 1 normal forwards; 
}

.section-appear {
    animation: appear 0s ease-in-out 1s 1 normal forwards; 
}

