@import url(./animations.css);

*, 
*::after, 
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --white-color: #FFFFFF;
    --black-color: #000000;
    --grey-light-color: #EEEEEE;
    --grey-dark-color: #E6E6E6;
    --blue-color: #013369;
    --red-color: #D50A0A;
    --football-rotate: 10deg;
}

body {
    font-family: 'Suez One', 'Sunflower', sans-serif;
    overflow: hidden;
    background-color: var(--grey-dark-color);
}

main {
    position: relative;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    overflow: hidden;
}

.side {
    height: 100vh;
}

.left-side {
    background-color: var(--grey-light-color);
}

.right-side {
    background-color: var(--grey-dark-color);
}

.left-side, 
.right-side{
    display: flex;
    justify-content: center;
    align-items: center;
}

.defult-bkg-img {
    opacity: 0.05;
    width: 90%;
    height: auto;
}

header{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 4vh;    
    text-align: center;
    color: var(--blue-color);
    width: 100%;
    z-index: 2;
    padding-left: clamp(20px, 20%, (max(100vw, 500px)/500) * 10);
    padding-right: clamp(20px, 20%, (max(100vw, 500px)/500) * 10);
}

header h1 {
    font-weight: bold;
    font-size: clamp(min(100vw, 100vh) * 0.08, min(100vw, 100vh) * 0.1, max(100vw, 100vh) * 0.4);
    letter-spacing: 0.6rem;
    text-shadow: 
        -3px 3px var(--white-color), 
        3px 3px var(--white-color), 
        3px -3px var(--white-color), 
        -3px -3px var(--white-color);
}

header .starts{
    display: flex;
    justify-content: center;
    align-items: center;
}

.starts h3 {
    font-family: 'Sunflower', sans-serif;
    margin-top: 10px;
    font-size: clamp(0.6rem, 30vw * 0.1, 18px);
}

.starts img{
    width: clamp(0.6rem, 30vw * 0.1, 18px);
    height: auto;
    margin: 0 5px;
}

.play-button {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.play-button button {
    width: clamp(100px, calc(min(100vw, 100vh) * 0.4), 200px);
    border-radius: 20px;
    outline: none;
    border: none;
    background-color: var(--blue-color);
    -webkit-box-shadow: -4px 4px 0px 4px var(--red-color); 
    -moz-box-shadow: -4px 4px 0px 4px var(--red-color);
    box-shadow: -4px 4px 0px 4px var(--red-color);
    cursor: pointer;
}
.play-button button:active{
    -webkit-box-shadow: -2px 2px 0px 2px var(--red-color);
    -moz-box-shadow: -2px 2px 0px 2px var(--red-color);
    box-shadow: -2px 2px 0px 2px var(--red-color);
    position: relative;
    top: 7px;
}

.play-button button > img {
    width: 50%;
    height: auto;
    transform: rotate(calc(-1 * var(--football-rotate)));
    animation: football 2s ease-in-out 0s infinite;
}

[data-home]{
    position: absolute;
    z-index: 1;
    width: 100vw;
    height: 100vh;
    background-color: transparent;
}

[data-game]{
    position: absolute;
    z-index: 0;
    width: 100vw;
    height: 100vh;
}

/* this is just for testing, remove it */
[data-game] .side{
    background-color: orange;    
}

.icon-back {
    position: absolute;
    left:0;
    top: 0;
    padding: 10px 10px;
    cursor: pointer;
}


footer{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
    padding: 5px 10px;
    color: var(--blue-color);
    font-size: 0.5rem;
    z-index: 3;
}

footer span {
    color: var(--red-color)
}


@media (max-width: 576px) {
    .container {
        grid-template-rows: 1fr 1fr;
        grid-template-columns: unset;
    }

    .side {
        height: 50vh;
    }

    .defult-bkg-img {
        width: auto;
        height: 90%;
    }
}






















/*
.sides img {
    width: 80%;
    max-width: 300px;
    height: auto;
}

.sides p {
    font-size: 1.5rem;
    text-align: center;
    color: white;
    font-weight: bold;
    min-height: 5rem;
}

#startText {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    margin-top: 2px;
    text-align: center;    
    color: #ffffff;
}

.center_layer {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    width: 4rem;
    height: 4rem;
    overflow: hidden;
    border: 2px solid #003a70;
    -webkit-box-shadow: 0px 0px 5px 0px #000000; 
    box-shadow: 0px 0px 5px 0px #000000;    
    background-color: #003a70;
}

.center_layer button {
    border: none;
    outline: none;
    background-color: transparent;
    width: 100%;
    height: 100%;
    display: block;
    margin-left: 2px;
}

.center_layer button:hover{
    cursor: pointer;
    transform: scale(1.2,1.2);
    transition: scale 0.8s ease-in-out;
}

.center_layer button:focus{
    outline: none;
}

.center_layer button i{ 
    font-size: 2.5rem;
    color: white;
}

#timer {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2rem;
    color: white;
}

.footer {
    position: absolute;
    bottom: 5px;
    right: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.nfl_icon{
    width: 3rem;
    height: 3rem;
}

.made {
    font-size: 0.5rem;
    background: white;
    border-radius: 10px;
    padding: 0px 5px;
}

.made .heart{
    color: #e31b23;
}

#menu {
    position: absolute;
    top: 5px;
    right: 5px;
    z-index: 1;
    cursor: pointer;
    background-color: #003a70;
    color: white;
    padding: 2px 5px 0px 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0px 0px 5px 0px #000000; 
    box-shadow: 0px 0px 5px 0px #000000;    
}

#menu i {
    font-size: 1.5rem;
}

#submenu {
    display: none;
    position: absolute;
    top: 40px;
    right: 5px;
    z-index: 1;
    background-color: white;
    padding: 10px 15px;
    font-size: 0.8rem;
    border-radius: 10px;
    -webkit-box-shadow: 0px 0px 5px 0px #000000; 
    box-shadow: 0px 0px 5px 0px #000000;  
}

.submenu_container {
    display: flex;
    justify-content: center;
    align-items: left;
    user-select: none;
    flex-direction: column;
    gap: 10px;
}

.submenu_group {
    display: flex;
    justify-content: space-between;
    align-items: center;
    user-select: none;
    gap: 10px;
}

.input_number{
    width: 40px;
}

.apply_button{
    background-color: #003a70;
    color: white;
    border: none;
    outline: none;
    border-radius: 10px;
    padding: 5px 10px;
    cursor: pointer;
}

.apply_button:hover{
    outline: none;
}

.apply_button:focus {
    outline: none;
}

@media only screen and (max-width: 576px) {
    .container {
        flex-direction: column;
    }

    .sides {
        width: 100%;
        height: 50%;
    }
    .sides img {
        height: 80%;
        max-height: 170px;
        width: auto;
        margin-top: 20px;
    }

    .nfl_icon{        
        width: 2.5rem;
        height: 2.5rem;
    }
}
*/