* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    transition: 50ms ease;
    font-family: 'Poppins', sans-serif;
}

.container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
}

.sides {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    gap: 1rem;
    align-items: center;
    flex-direction: column;
}

.sides p {
    font-size: 1rem;
    text-align: center;
    color: white;
    font-weight: bold;
}

button {
    position: absolute;
    bottom: 2rem;
    left: 50%;
    transform: translate(-50%);
    border-radius: 50%;
    width: 5rem;
    height: 5rem;
    overflow: hidden;
    border: 2px solid #003a70;
    -webkit-box-shadow: 0px 0px 5px 0px #000000; 
    box-shadow: 0px 0px 5px 0px #000000;
}

button img{
    object-fit: cover;
    width: 5rem;
    height: auto;
}

button:hover{
    cursor: pointer
}

button:focus{
    outline: none;
}
